body{
	background-image: url(../images/wallpaper.jpg);
	height: 100%;
	background-position: center;
	background-size: cover;
}
.header{
	width: 100%;
	height: 170px;
	text-align: center;
}
.man{
	width: 100%;
	font-size: 185px;
	font-family: 'Londrina Outline', cursive;
	-webkit-text-stroke: antiquewhite 8px;
}
.container{
	
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}
.leftside{
	border: 3px solid lightyellow;
	height: 620px;
	width: 50%;
	margin: auto;
}
.leftside > p{
	text-align: center;
	font-size: 68px;
	color: yellow;
	-webkit-text-stroke: red 2px;
	padding-top: 25px;
}
.rightside{
	border: 3px solid lightyellow;
	height: 620px;
	margin: auto;
	width: 50%;
	text-align: center;
	color: yellow;
	-webkit-text-stroke:red 1px;
	font-size: 32px;
}
.rightside > p{
	padding-top: 40px;
}
#press{
	padding-top: 50px;
}
.textImg{
	background-image: url("../images/rope.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.logo{
	position: absolute;
	right: 5px;
	top: 100px;
	transform: rotate(14deg);
	width: 200px;
}
.startImg{
	width: 95%;
	height: 60%;
	padding: 10px;
	padding-top: 50px;
}
.start{
	margin-top: 15px;
	width: 150px;
	height: 50px;
	border: 2px solid white;
	font-size: 14px;
	color: white;
	background-color: cornflowerblue;
}
.startBtn{
	display: flex;
	justify-content: center;
}
